// Colors
$color-primary: #e60072;
$color-accent: #4f4daf;
$color-dark-text: #050748;
$color-light-text: #6a6a8e;
$color-purple-dark: #673ab7;
$color-purple-light: #b02cd6;
$color-blue: #2196f3;
$color-sky-blue: #c7ecff;
$color-pink: #ff1f8e;
$color-beige: #ffbf84;
$color-white: #ffffff;
$color-grey-light: #f8f9fa;
$color-grey-bg: #fafafb;

$border-rounded: 100px;
$border-circle: 50%;
